.minigame-container {
  background: url("../../assets/vietnam-flag-bg.png") center center/cover
    no-repeat;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.minigame-header {
  background: url("../../assets/vietnam-flag-bg.png") center center/cover
    no-repeat;
  color: #000;
  padding: 10px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.minigame-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.question-block {
  margin-bottom: 10px;
}

.number {
  font-weight: bold;
  margin-right: 5px;
}

.option {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 4px 0;
}

.option.correct {
  color: #00ff88;
  font-weight: 600;
}

.option.wrong {
  color: #ff4444;
  font-weight: 600;
}

.mark {
  margin-left: 6px;
  font-weight: bold;
}

.btn-submit,
.btn-reset {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.btn-submit {
  background: url("../../assets/vietnam-flag-bg.png") center center/cover
    no-repeat;
  color: #000;
  font-weight: 600;
}

.btn-reset {
  background: url("../../assets/vietnam-flag-bg.png") center center/cover
    no-repeat;
  color: #000;
  font-weight: 600;
}

.result {
  margin-top: 20px;
  font-size: 18px;
}
